LEASE AMENDING AGREEMENT

THIS LEASE AMENDING AGREEMENT dated this 20th day of September, 2018

BETWEEN:
Vreni A. Hommes and Christopher J. Mathers
(collectively the "Landlord")

OF THE FIRST PART
- AND-
Bill Smith and Wendy Johnson
(collectively the "Tenant")
OF THE SECOND PART
Background
The Landlord and the Tenant entered into the lease (the "Lease") dated May 20, 2017, for the premises (the "Premises") located at 50 Plaza Street East, #11B, Brooklyn, NY 11238.
The Landlord and the Tenant desire to amend the Lease on the terms and conditions set forth in this lease amending agreement (the "Agreement").
This Agreement is the third amendment to the Lease.
IN CONSIDERATION OF the Landlord and Tenant agreeing to amend their existing Lease, and other valuable consideration, the receipt and sufficiency of which is hereby acknowledged, both parties agree to keep, perform, and fulfill the promises, conditions and agreements below:

Amendments
The Lease is amended as follows:
The length of the sublease should be extended to end October 31, 2018.
No Other Change
Except as otherwise expressly provided in this Agreement, all of the terms and conditions of the Lease remain unchanged and in full force and effect.
Miscellaneous Terms
Capitalized terms not otherwise defined in this Agreement will have the meanings ascribed to them in the Lease. Headings are inserted for the convenience of the parties only and are not to be considered when interpreting this Agreement. Words in the singular mean and include the plural and vice versa. Words in the masculine include the feminine and vice versa. The words "Landlord" and "Tenant" as used in this Agreement include the plural as well as the singular; no regard for gender is intended by the language in this Agreement.
The Parties agree that all other terms, conditions and obligations of the Lease remain in effect throughout the term of the Lease except for those provisions of the Least that are directly contradicted by this Amendment, in which event the terms of the Amendment shall control.

Governing Law
Subject to the terms of the Lease, it is the intention of the parties that this Agreement, and all suits and special proceedings under this Agreement, be construed in accordance with and governed, to the exclusion of the law of any other forum, by the laws of the State of New York, without regard to the jurisdiction in which any action or special proceeding may be instituted.
IN WITNESS WHEREOF the Landlord and Tenant have executed this Lease Amending Agreement as of the date first above written.

_____________________________
Witness

Vreni A. Hommes

_____________________________
Witness

Christopher J. Mathers

_____________________________
Witness

_____________________________
Bill Smith

_____________________________
Witness

_____________________________
Wendy Johnson
